body {
    background-color: #2f4f4f;
    text-align: center;
    font-family: Arial, sans-serif;
}
.container {
    border: 5px solid red;
    background-color: black;
    padding: 10px;
    width: 80%;
    margin: auto;
}
.box {
    background-color: lightgreen;
    padding: 20px;
    margin: 10px;
    border: 5px solid black;
}
h1 {
    background-color: brown;
    color: white;
    padding: 10px;
    display: inline-block;
}